* {
    margin: 0;
}

#board {
    background-color: orange;
    width: 100%;
    height: 600px;
    position: relative;
}
#player {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 100px;
    bottom: 213px;
}
#player img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}
@keyframes playerJump {
    0% {
        bottom: 213px; 
    }
    45%, 55%{
        bottom: 313px;
    }
}
.player_jump {
    animation: playerJump 1s linear;
}
#background {
    width: 100%;
    height: 100%;
    background:url(./assests/background.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: backgroundMove 25s linear infinite;
}
@keyframes backgroundMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 0;
    }
  }
  #cactus{
      position: absolute;
      width: 55px;
      height: 80px;
      right: 100px;
      bottom: 205px;
      animation: cactusMove 2s linear infinite;
  }
  #cactus img {
      max-width: 100%;
      max-height: 100%;
  }
  @keyframes cactusMove {
      0% {
          right: 0%;
      }
      100%{
          right: 100%;
      }
  }
  .scoreContainer {
      font-size: 50px;
      text-align-last: center;
      margin-top: 20px;
  }
  /* Estilos boton play-paused */
  .button.play {
    border-style: solid;
    border-width: 37px 0 37px 60px;
  }
  
  .button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 1000ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
  
  .button:hover {
    border-color: transparent transparent transparent #404040;
  }
  .menu {
      display: flex;
      justify-content: center;
  }